@model ResultUserDto
@{
    Layout = null;
}

<ul>
    <li>id:  @Model.id </li>
    <li>kullanıcı adı:  @Model.userName </li>
    <li>ad:  @Model.name </li>
    <li>soyad:  @Model.surname </li>
    <li>email:  @Model.email </li>

</ul>