@model UserDetailViewModel
@{
    Layout = null;
}

<ul>
    <li>kullanıcı id:  @Model.Id </li>
    <li>kullanıcı adı:  @Model.Username </li>
    <li>kullanıcı id:  @Model.Name </li>
    <li>kullanıcı id:  @Model.Surname </li>
    <li>kullanıcı id:  @Model.Email </li>

</ul>