@model List<ResultCommentDto>
@{
    // var count = Model?.Count() ?? 0;
}

<div class="tab-pane" id="tabs-3" role="tabpanel">
    <div class="row">
        <div class="col-md-6">
            <div class="product__details__tab__desc">
                <h4>Products Reviews</h4>
                <h6 class="mt-4">@Model.Count() review"</h6>
                @foreach (var item in Model)
                {
                    <div class="media mb-4">
                        <img src="@item.ImageUrl" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                        <div class="media-body">
                            <h6>@item.FullName<small> - <i>@item.CreatedDate.ToShortDateString()</i></small></h6>
                            <div class="text-primary mb-2">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= item.Rating)
                                    {
                                        <i class="fas fa-star"></i> <!-- Dolgun yıldız -->
                                    }
                                    else
                                    {
                                        <i class="far fa-star"></i> <!-- Boş yıldız -->
                                    }
                                }
                            </div>
                            <p>@item.CommentDetail</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        @await Html.PartialAsync("~/Views/ProductList/Addcomment.cshtml", new { id = ViewBag.x })
    </div>
</div>