@model UserDetailViewModel
@{
    Layout = null;
}

<ul>
    <li>User Id: @Model.Id</li>
    <li>Username: @Model.Username</li>
    <li>Name: @Model.Name</li>
    <li>Surname: @Model.Surname</li>
    <li>Email: @Model.Email</li>
</ul>

