@model GetByIdProductImageDto
<div class="col-lg-6 col-md-6">
    <div class="product__details__pic">
        <div class="product__details__pic__item">
            <img class="product__details__pic__item--large"
                 src="@Model.Image1" alt="">
        </div>
        <div class="product__details__pic__slider owl-carousel">
            <img data-imgbigurl="@Url.Content(@Model.Image2)"
                 src="@Model.Image2" alt="">

            <img data-imgbigurl="@Url.Content(@Model.Image3)"
                 src="@Model.Image3" alt="">
            <img data-imgbigurl="@Url.Content(@Model.Image4)"
                 src="@Model.Image4" alt="">
        </div>
    </div>
</div>